[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
simplejson = "*"
attrs = "*"
click = "*"
requests = "*"
termcolor = "*"
"ed25519" = "*"
"base58" = "*"

[dev-packages]
pylint = "<2.0.0"
black = "*"
ipython = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
